* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #999;
}

.inputs-container > label,
.inputs-container > button {
  flex: 0 0 100%;  /* Take the full width */
}

.inputs-container > div {
  flex: 0 0 calc(33.3333% - 20px);  /* 3 items per row minus the gap */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  /* display: block; */
  /* margin-bottom: 10px; */
}

label > input {
  margin-left: 10px;
}

.input-group {
  display: flex;
  align-items: center; /* Vertically aligns the label and input in case of height differences */
  margin-bottom: 10px; /* Add space between groups */
}

.input-group label {
  /* flex: 1; Allows the label to take up the remaining space */
  margin-right: 10px; /* Add space between the label and the input */
}

.input-group.textarea-group label {
  align-self: flex-start; /* Aligns the label to the top of the container */
  margin-top: 8px; /* Aligns with the top padding of the textarea */
}

input, textarea {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  width: 100%; /* For full-width style. If you prefer a smaller width, adjust or remove this. */
  box-sizing: border-box; /* To ensure padding doesn't increase the total width. */
}

input:focus, textarea:focus {
  border-color: #0099ff;
  box-shadow: 0 0 5px rgba(0, 153, 255, 0.5);
}

textarea {
  resize: vertical; /* Allows vertical resizing only. */
  min-height: 80px; /* Set minimum height for better usability. */
}

button {
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;  /* Align the button to the right */
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

/* Media Query for responsiveness */
@media (max-width: 1080px) {
  .inputs-container > div {
      flex: 0 0 100%;  /* Take the full width */
  }
}
